#home {
    background: linear-gradient(180deg, rgba(27, 22, 4, 0.76) 56.28%, #1A1707 95.07%);
    background: url(/assets/main_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50rem;
    width: 100%;
}

#main {
    width: 100%;
    min-height: 48rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;

}

div.main-image-container {
    margin-bottom: 1.5rem;
}
img.main-image {
    display: block;
    width: 44rem;
    height: auto;
}

.heading {
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.40);
    font-family: American Captain;
    font-size: 6rem;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.20625rem;
    background: linear-gradient(180deg, #F9A03F 0%, #4B2700 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
}

.content {
    color: #E8E8E8;
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.041rem;
    text-align: center;
    padding: 1rem 4rem;
}

.register a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.045rem;
}

.register {
    margin-top: 3rem;
    display: inline-flex;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 2px solid #D99343;
    background: rgba(0, 0, 0, 0.25);
}